<!doctype html>
<html ng-app="dropdownApp">

<head>
    <meta charset="utf-8">
    <title>Dropdown list example</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>

<body ng-controller="dropdownCtrl">
    <!--[if lte IE 8]>
      <p class="browsehappy">
          You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->

    <dropdown list="heroesData" selected="hero">
        <div class="dropdown-container" ng-class="{ show: listVisible }">
            <div class="dropdown-display" ng-click="show();" ng-class="{ clicked: listVisible }">
                <span ng-if="!isPlaceholder">{{display.Name +', ' + display.Alterego}}</span>
                <span class="placeholder" ng-if="isPlaceholder">Choose your hero...</span><i id="dropdown-icon" class="fa fa-angle-down"></i>
            </div>
            <div class="dropdown-list">
                <div>
                    <div ng-repeat="hero in heroesData" ng-click="select(hero)" ng-class="{selected: isSelected(hero)}">
                        <img ng-src="{{hero.Image}}" alt="">
                        <label>{{'Hero: ' + hero.Name +', ' + hero.Alterego}}</label>
                        <span>{{'Species: ' + hero.Type}}</span>
                    </div>
                </div>
            </div>
        </div>
    </dropdown>


    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <!-- endbuild -->
</body>

</html>